<mat-select
    class="language-select"
    panelClass="language-select-panel"
    [ngModel]="lang()"
    (selectionChange)="onLanguageChange($event.value)"
    disableOptionCentering
>
    <mat-select-trigger>
        <div class="lang-row">
            <img [src]="currentOption().flag" width="20" height="14" class="flag-img" alt="">
            <span class="text-color">{{ currentOption().label }}</span>
        </div>
    </mat-select-trigger>

    @for (option of languages; track option.value) {
        <mat-option [value]="option.value">
            <div class="lang-row">
                <img [src]="option.flag" width="20" height="14" class="flag-img" alt="">
                <span>{{ option.label }}</span>
            </div>
        </mat-option>
    }
</mat-select>
