.pager-wrapper {
  background-color: var(--bg-lighter);
  margin-top: 1.5rem;

  --mat-paginator-container-background-color: var(--bg-lighter);
  --mat-paginator-container-text-color: var(--text);
  --mat-paginator-enabled-icon-color: var(--text);
  --mat-paginator-disabled-icon-color: var(--border-end);
  --mat-select-enabled-trigger-text-color: var(--text);
}

.pager-wrapper mat-paginator {
  background-color: transparent;
}